<!DOCTYPE html>
<html 

	xmlns="http://www.w3.org/1999/xhtml" 
  	xmlns:th="http://www.thymeleaf.org" 
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

>

	<div th:replace="layout/base :: head">...</div>
	
	<body>
		<div th:replace="layout/base :: header">...</div>
			
		<th:block layout:fragment="conteudo">
		  
	        <div id="noticia">
                <fieldset>
	                <legend>Upload</legend>
                    <form method="POST" enctype="multipart/form-data" action="upload">
						<input type="file" name="file" />
						<input type="submit" value="Upload" />
					</form>
	        	</fieldset>
	        </div>
		
		</th:block>
	
		<div th:replace="layout/base :: footer">...</div>
	</body>

</html>