<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="css/Pag-Inicial.css" rel="stylesheet" />
    <link
			href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600"
			rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/estilo.css" />
</head>

<body>
	<!-- CABECARIO -->
	<header id="header">
		<!-- Nav -->
		<div id="nav">
			<!-- MENU SUPERIOR Nav -->
			<div id="nav-fixed">
				<div class="container">
					<!-- TITULO -->
					<div class="nav-logo">
						<a href="index.html" class="logo">SOCIALMEDIA</a>
					</div>
					<!-- /TITULO -->

					<!-- nav -->
					<ul class="nav-menu nav navbar-nav">
						<li><a href="#">Noticias</a></li>
						<li><a href="#">Popular</a></li>
						<li class="cat-1"><a href="#">Esportes</a></li>
						<li class="cat-2"><a href="politica-cat.html">Politica</a></li>
						<li class="cat-3"><a href="#">Tecnologia</a></li>
						<li class="cat-4"><a href="#">Jornal</a></li>
					</ul>
					<!-- /nav -->

					<!-- BOTÃO PESQUISA & TRANSIÇÃO -->
					<div class="nav-btns" id="buscaConteudo">
						<form action="/conteudo/busca-conteudo" method="post">
<!--							<div class="search-form">-->
<!--								<input class="search-input" type="text" name="search"-->
<!--									   placeholder="Digite sua pesquisa ..."/>-->
<!--								<button class="search-close">-->
<!--									<i class="fa fa-times"></i>-->
<!--								</button>-->
<!--							</div>-->
							<input class="search-inpu" type="text" name="descricao" autocomplete="off">
							<input type="submit">
						</form>
					</div>
					<!-- /BOTÃO PESQUISA & TRANSIÇÃO -->
				</div>
			</div>
			<!-- /MENU SEPERIOR Nav -->

			<!-- MENU LATERAL Nav -->
			<div id="nav-aside">
				<!-- nav -->
				<div class="section-row">
					<ul class="nav-aside-menu">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="sobre-nos.html">Sobre Nós</a></li>
						<li><a href="criar_noticia.html">Crie sua noticia</a></li>
						<li><a href="criar_noticia.html">Faça upload de material</a></li>
						<li><a href="login.html">Sair</a></li>
					</ul>
				</div>
				<!-- /nav -->

				<!-- MEDIA SOCIAS -->
				<div class="section-row">
					<h3>Siga-nos</h3>
					<ul class="nav-aside-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
				<!-- /MEDIA SOCIAS -->

				<!-- FECHAR MENU LATERAL Nav -->
				<button class="nav-aside-close">
					<i class="fa fa-times"></i>
				</button>
				<!-- FECHAR MENU LATERAL Nav -->
			</div>
			<!-- /MENU LATEAL Nav -->
		</div>
		<!-- /Nav -->
	</header>
	<!-- /CABECARIO -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- NOTICIA PRINCIAPAL1 -->
				<div class="col-md-6">
					<div class="post post-thumb">
						<a class="post-img" href="detalhes-noticias.html"><img
								src="https://abrilveja.files.wordpress.com/2019/05/brasil-politica-jair-bolsonaro-20190430-003.jpg?quality=70&strip=info&w=1024" alt=""></img></a>
						<div class="post-body">
							<div class="post-meta">
								<a class="post-category cat-2" href="politica-cat.html">Politica</a>
								<span class="post-date">1 de Janeiro, 2019</span>
							</div>
							<h3 class="post-title">
								<a href="detalhes-noticias.html">Jair Bolsonaro assume
									presidencia</a>
							</h3>
						</div>
					</div>
				</div>
				<!-- /NOTICIA PRINCIAPAL1 -->

				<!-- NOTICIA PRINCIAPAL2 -->
				<div class="col-md-6">
					<div class="post post-thumb">
						<a class="post-img" href="detalhes-noticias.html"><img
							src="https://specials-images.forbesimg.com/imageserve/1136864094/960x0.jpg?fit=scale" alt=""></img></a>
						<div class="post-body">
							<div class="post-meta">
								<a class="post-category cat-4" href="politica-cat.html">Tecnologia</a>
								<span class="post-date">1 de Janeiro, 2019</span>
							</div>
							<h3 class="post-title">
								<a href="detalhes-noticias.html">Google lança nova
									plataforma, Stadia</a>
							</h3>
						</div>
					</div>
				</div>
				<!-- /NOTICIA PRINCIAPAL2 -->
			</div>
			<!-- /row -->

			<!-- section -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<div class="section-title">
										<h2>Noticias Recentes</h2>
									</div>
								</div>

								<div class="col-md-12">
									<div class="post" th:each="conteudo : ${conteudos}">
										<div th:text="*{conteudo.getHtml()}"></div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="section-row">
										<button class="primary-button center-block">Ver Mais</button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">

							<!-- CATEGORIAS SUBMENU -->
							<div class="aside-widget">
								<div class="section-title">
									<h2>Categorias</h2>
								</div>
								<div class="category-widget">
									<ul>
										<li><a href="#" class="cat-1">Esportes<span>340</span></a></li>
										<li><a href="politica-cat.html" class="cat-2">Politica<span>74</span></a></li>
										<li><a href="#" class="cat-4">Tecnologia<span>41</span></a></li>
										<li><a href="#" class="cat-3">Jornal<span>35</span></a></li>
									</ul>
								</div>
							</div>
							<!-- /CATEGORIAS SUBMENU -->

							<!-- TAGS -->
							<div class="aside-widget">
								<div class="tags-widget">
									<ul>
										<li><a href="#">Futebol</a></li>
										<li><a href="#">Bolsonaro</a></li>
										<li><a href="#">Iphone</a></li>
										<li><a href="#">Carros</a></li>
										<li><a href="politica-cat.html">Previdencia</a></li>
										<li><a href="#">Jogos</a></li>
										<li><a href="#">Paulista</a></li>
										<li><a href="politica-cat.html">STF</a></li>
									</ul>
								</div>
							</div>
							<!-- /TAGS -->
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /section -->


		</div>
		<!-- /container -->
	</div>
	<!-- /section -->





	<!-- RODAPÉ -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="index.html" class="logo">SOCIALMEDIA</a>
						</div>

						<div class="footer-copyright">
							<span>&copy;Copyright &copy;<script>document.write(new Date().getFullYear());</script>
								Todos os direitos reservados
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="footer-widget">
								<h3 class="footer-title">Sobre Nós</h3>
								<ul class="footer-links">
									<li><a href="sobre-nos.html">Quem somos</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="footer-widget">
								<h3 class="footer-title">Catagorias</h3>
								<ul class="footer-links">
									<li><a href="#">Esporte</a></li>
									<li><a href="politica-cat.html">Politica</a></li>
									<li><a href="">Tecnologia</a></li>
									<li><a href="">Jornal</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Receba nossas atualizações</h3>
						<div class="footer-newsletter">
							<form>
								<input class="input" type="email" name="newsletter"
									placeholder="Digite seu e-mail"></input>
								<button class="newsletter-btn">
									<i class="fa fa-paper-plane"></i>
								</button>
							</form>
						</div>
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /RODAPÉ -->

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>