<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login - Media Center</title>
        
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>Media Center <b>gerador de conteudo</b></h1>
        </header>
        <main>
            <div class="container-form-login">
                <form class="form-inline"   method="post" th:object="${usuario}"
                      th:action="@{/fazerLogin}" style="margin: 20px 0">
                    <div class="form-group">
                        <input required type="text" class="form-control" placeholder="Usuário" th:field="*{login}"/>
                        <input required type="password" class="form-control" placeholder="Senha" th:field="*{senha}"/>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="recuperar-senha">
                <a href="#">recuperar senha</a>
            </div>
        </main>
    </body>
</html>